<div class="container">
  <h1>Manage Category</h1>
  <div class="row">
    <div class="toolbar">
      <!-- immediate child items must be block items, like divs-->
      <div class="toolbar-left">
        <button class="btn btn-link" type="button" aria-label="Add" ng-click="blogCatCtrl.createBlogCategoryModal()">
          <i class="nc-icon-mini ui-1_simple-add"></i>
        </button>



        <button class="btn btn-link" type="button" aria-label="Delete" ng-click="blogCatCtrl.deleteBlogCategory()">
          <i class="nc-icon-mini ui-1_trash-simple"></i>
        </button>
      </div>

      <div class="toolbar-right">
        <!-- add an empty div for flexbox spacing end-to-end-->
      </div>

    </div>

    <table class="table">
      <thead>
      <tr>
        <td>
          <input type="checkbox"
                 ng-model="blogCatCtrl.table.allRowsSelected"
                 ng-click="blogCatCtrl.table.selectAllRows()"  aria-label="Select All" >
        </td>
        <th>Name</th>
        <th>Description</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="d in blogCatCtrl.table.data | orderBy: blogCatCtrl.table.sort.type:blogCatCtrl.table.sort.reverse"
          ng-class="{'table-row-selected': d.selected}">
        <td>
          <input type="checkbox"
                 ng-model="d.selected"
                 ng-click="blogCatCtrl.table.selectRow(d, $event)" aria-label="{{::d.full_name}}">
        </td>
        <td>{{d.categoryName}}</td>
        <td>{{d.categoryDescription}}</td>
      </tr>
      </tbody>
    </table>


  </div>
</div>

