<div class="container">
  <h1>Dashboard</h1>
  <div class="row">
    <div class="col-md-2">
      <div class="card">
        <div class="card-body">
          <div class="metric-block metric-block-data-increase">
            <div class="metric-block-data">
              <div class="metric-block-description">Blogs</div>
              <div class="metric-block-value">{{dashCtrl.blogCount}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-10">
      <div class="toolbar">
        <!-- immediate child items must be block items, like divs-->
        <div class="toolbar-left">
          <button class="btn btn-link" type="button" aria-label="Add" ng-click="dashCtrl.createBlog()">
            <i class="nc-icon-mini ui-1_simple-add"></i>
          </button>



          <button class="btn btn-link" type="button" aria-label="Delete" ng-click="dashCtrl.deleteBlog()">
            <i class="nc-icon-mini ui-1_trash-simple"></i>
          </button>


          <button class="btn btn-link" type="button" aria-label="Edit" ng-click="dashCtrl.editBlog()">
            <i class="nc-icon-mini ui-1_pencil"></i>
          </button>
        </div>

        <div class="toolbar-right">
          <!-- add an empty div for flexbox spacing end-to-end-->
        </div>

      </div>

      <table class="table">
        <thead>
        <tr>
          <td style="width: 10%">
            <input type="checkbox"
                   ng-model="dashCtrl.table.allRowsSelected"
                   ng-click="dashCtrl.table.selectAllRows()"  aria-label="Select All" >
          </td>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="d in dashCtrl.table.data | orderBy: dashCtrl.table.sort.type:dashCtrl.table.sort.reverse"
            ng-class="{'table-row-selected': d.selected}">
          <td>
            <input type="checkbox"
                   ng-model="d.selected"
                   ng-click="dashCtrl.table.selectRow(d, $event)" aria-label="{{::d.full_name}}">
          </td>
          <td>{{d.blogTitle}}</td>
          <td>{{d.blogDescription}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

