<div class="floating-unit">
<!--
  <a class="signin-pb-logo" href="http://www.pb.com"></a>-->

  <!-- white box -->
  <div class="signin-box">

    <h2 class="text-magenta spacer-top-xs">
      <span>Complete registration</span>
    </h2>

    <p class="spacer-top-md">
      <span>Registration email sent to </span> {{loginCtrl.verifyEmail}}
    </p>

    <p class="spacer-top-md spacer-bottom-md">
      <span>It contains a link to verify your identity and complete your registration.</span>
    </p>

    <a href="#">
      <span>Login</span>
    </a>

  </div>
  <!-- // end white box -->
</div>
